.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid steelblue;
    box-shadow: 0px 2px 0px #ccc;
   color: steelblue;
   padding: 16px;
   text-align: center;
}
/*Media Queries*/
@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}