.Cockpit {
    text-align: center;
  }
  
  .blue{
    color: blue;
  }
  
  .bold {
   font-weight: bold;
  
  }
  
  .Cockpit button {
    border: 1px solid blue;
    padding: 10px;
    background-color: green;
    font: inherit;
    border-radius: 10px;
    color: white;
  
  }
  
  .Cockpit button:hover {
    background-color: lightgreen;
    color: black;
  }
  /*not part of his course added this in myself*/
  .Cockpit button:active {
    background-color: aquamarine;
    color: white;
  }
  /*not part of his course added this in myself*/
  
  /* .App button:focus {
    background-color: bisque;
    color: black;
  } */
  
   .Cockpit button.blue {
     background-color: blue;
     color: black;
  } 